.dot {
  position: absolute;
  right: 4cqw;
  bottom: 22cqw;
  z-index: 1;
  background: var(--highlight-color);
  font-size: 13cqw;
}

.name {
  font-size: max(1.2rem, 13cqw);
  max-width: 100%;
}

.image {
  width: 100%;
  aspect-ratio: 1;
}

.image-area {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  &:has(:global(.image)) {
    background-color: var(--highlight-color);
  }
}

.file-tile {
  --highlight-color: var(--light-text);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  box-sizing: border-box;
  container-type: inline-size;
  color: var(--light-text);

  .image {
    &:global(.image) {
      transition: opacity 0.2s ease;
    }

    &:global(.no-image) {
      color: var(--highlight-color);
      transition: color 0.2s ease;
    }
  }

  &[aria-selected='true'] {
    background: rgb(from var(--primary) r g b / 15%);
    .image {
      &:global(.image) {
        filter: grayscale(0.5);
        opacity: 0.8;
      }
    }
  }

  &[aria-selected='true'] {
    --highlight-color: var(--secondary);
  }

  &:hover {
    background: rgb(255 255 255 / 15%);
  }
}
