.icon {
  width: auto;
  flex: 0 0 auto;
  display: block;
  fill: var(--primary);
  grid-area: icon;
  padding: 0.5rem;
}

.counter {
  grid-area: icon;
  color: var(--primary) !important;
  background: white !important;
  place-self: center;
  translate: 0 2px;
}

.folder {
  grid-area: folder;
  padding: 0 0.3rem;
}

.display {
  display: grid;
  grid-template-columns: 4.3rem 1fr;
  grid-template-areas: 'icon folder';
  align-items: center;
  margin: 0;
  overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
}
