.nav-button:global(.nav-button) {
  flex-direction: row-reverse;
  gap: 0;
  font-size: 2rem;

  & :global(.content) {
    width: 0;
  }

  &:not(:global(.no-hover)) {
    &:hover,
    &:focus {
      & :global(.content) {
        width: auto;
        padding: 0 2rem 0 1rem;
      }
    }
  }
}
